{% extends 'base.html' %}
{% block Title %}Welcome to our website{% endblock %}
{% block body %}
<div class="container mx-auto my-10">
<p class="mx-10">
    Welcome to PdfConverter, a reliable tool for merging, compressing, and encrypting PDF files. Our company understands the importance of data privacy and security, which is why we are committed to providing a safe and secure platform for all our users.

<br> Our main goal is to simplify the complicated task of handling PDF documents by providing a user-friendly and efficient tool that combines various functionalities. The best part is that our tool is available to everyone and does not require any sign-up process.

<br> One of our key features is the ability to merge multiple PDF files into one document. This feature is perfect for those who are dealing with multiple files and want to create one cohesive document. Our compression feature helps to reduce the size of your PDF files, making it easier to transmit and share.

<br> Moreover, we prioritize the security of our users' data by not sharing any information with third-party sources. We understand how important confidentiality is, especially when dealing with sensitive documents. Thus, with PdfConverter, your data is safe for 24 hours.

<br>We are passionate about providing an essential tool that simplifies the process of handling PDF files. Our mission is to cater to every need of our users by providing top-quality features and services. If you have any questions or concerns, please do not hesitate to reach out to us.

<br> Thank you for choosing PdfConverter.
</p>
</div>
{% endblock %}